html{
	font-size: 10px;
}

body {
	font-family: Harrington, 'Permanent Marker', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: whitesmoke;
	height: 100%;
}

.parent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	/* ? */
	align-items: stretch;
	height: 100%;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;	/* ? */
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
	width: 65%;
}

.title {
	flex-grow: 4;
	align-self: center;
	font-size: 1.5vw;
	text-align: center;
}

p {
	font-size: 1.5rem;
	text-align: justify;
}

.message {
	flex-grow: 8;
	align-self: center;
	font-size: 2.8rem;
	text-align: center;
	padding-top: 5rem;
}

.pic {
	display: flex;
	justify-content: center;
	align-self: center;
}

img {
	width: 45vw;
	align-self: center;
}

.ads {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-self: center;
	height: 100%;
	width: 35%;
	background-color: aquamarine;
}

.header {
	align-self: center;
	font-size: 2.8rem;
	text-align: center;
	padding-top: 5rem;
}

.ads h3 {
	font-size: 1.5vw;
	text-align: center;
}

.ads .pic {
	align-self: center;
}

.ads img {
	align-self: center;
	width: 20vw;
}

.products {
	display: flex;
	flex-wrap: wrap;
}

.product-card {
	padding: 2%;
	flex-grow: 1;
	flex-basis: 16%;
	display: flex;
	flex-direction: column;
	background-color: azure;
}

.product-image img {
	max-width: 100%;
}

.product-info {
	margin-top: auto;
}

.products .product-card:first-child,
.products .product-card:nth-child(2) {
	flex: 2 46%;
}
