html{
	font-size: 10px;
}

body {
	font-family: papyrus, 'Courier New', Courier, monospace;
	background: url(images/golden-white-marble-textured-background.jpg);
}

.container {
	display: grid;
	width: 100%;
	height: 1175px;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 0.5rem;
	grid-template-areas:
	"title"
	"message"
	"footer";
	justify-items: center;
}
  
.title {
	grid-area: title;
	font-family: Harrington, 'Permanent Marker', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 2.8rem;
	text-align: center;
	float: left;
}

@media (max-width: 460px) {
	.title {
	  font-family: Harrington, 'Permanent Marker', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	  font-size: 3.5rem;
	  text-align: center;
	}
}

p {
	font-size: 1.5rem;
	text-align: justify;
}

.message {
	grid-area: message;
	font-family: Harrington, 'Permanent Marker', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 2.8rem;
	text-align: center;
	float: left;
}

.footer {
	grid-area: footer;
	display: grid;
	width: 100%;
	font-size: 2rem;
	line-height: 2.5rem;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-areas:
	"trademark nothing other-links";
	background: linear-gradient(45deg, ivory, lightgrey, rgba(245, 245, 245, 0.938));
}
