html{
	font-size: 10px;
}

body {
	font-family: Harrington, 'Permanent Marker', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: whitesmoke;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;	/* ? */
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
	width: 100%;
}

.title {
	flex-grow: 4;
	align-self: center;
	font-size: 2.8rem;
	text-align: center;
}

p {
	font-size: 1.5rem;
	text-align: justify;
}

.message {
	flex-grow: 8;
	align-self: center;
	font-size: 2.8rem;
	text-align: center;
	padding-top: 5rem;
}

.pic {
/*	flex-grow: 4;	*/
	align-self: center;
	font-size: 2.8rem;
}

.pic-right {
/*	flex-grow: 4;	*/
	align-self: center;
	font-size: 2.8rem;
}
